<launch>
  <arg name="UnitreeGripperYN" default="true"/>

  <!-- Target sphere initial pose (within Z1 reachable workspace) -->
  <arg name="target_name" default="target_sphere"/>
  <arg name="target_x"    default="0.40"/>
  <arg name="target_y"    default="0.0"/>
  <arg name="target_z"    default="0.35"/>

  <!-- 1. Gazebo world + Z1 arm + z1_controller -->
  <include file="$(find z1_bringup)/launch/sim_ctrl.launch">
    <arg name="UnitreeGripperYN" value="$(arg UnitreeGripperYN)"/>
  </include>

  <!-- 2. Spawn the bright red target sphere into Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_target_sphere"
        args="-sdf
              -model $(arg target_name)
              -file $(find unitree_gazebo)/models/target_sphere/model.sdf
              -x $(arg target_x) -y $(arg target_y) -z $(arg target_z)"
        output="screen" respawn="false"/>

</launch>
